main {
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
}  
main div {
  padding: 1rem;
  background-color: var(--div-background-70);
  border-radius: 1rem;
  backdrop-filter: blur(1px);
}

.content {
  text-align: center;
}
.contact ul {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between; */

}
.contact ul li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  /* border: solid red 1px; */
  position: relative;
  min-height: 1.5rem;
  margin-block: 1rem;
  align-content: center;
}
.contact ul li > * {
  margin: 0;
  margin-inline-start: 2rem;
  font-size: 1rem;
}

/* #found_contact_mail {
  /Images/Logos/envelope.circle.fill.webp
}
#found_contact_phone {
  /Images/Logos/phone.png
} */

.contact ul li::before {
  position: absolute;
  background-size: 1.5rem;
  content: "";
  background-repeat: no-repeat;
  inset: 0;
  z-index: -1;
  margin: auto;
}
#found_contact_mail::before {
  background-image: url(/Images/Logos/envelope.circle.fill.webp);
}
#found_contact_phone::before {
  background-image: url(/Images/Logos/phone.png);
}
#found_contact_location::before {
  background-image: url(/Images/Logos/mappin.circle.png);
}