main {
  margin: auto 5% auto 5%;
  padding: 0;
  grid-row: 2;
  display: grid;
  grid-template-columns: 9rem 1fr auto;
  grid-template-rows: auto;
  gap: 1rem;

  div {
    /* margin: 1rem; */
    padding: 1rem;
    background-color: hsl(from var(--box-color) h s l / 70%);
    border-radius: 1rem;

    p {
      padding-left: 1rem;
    }
  }
}

.Timeline {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 5;

}
.Skills {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 5;

}

.Me {
  background-image: url(../../Images/me2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-color: hsl(from var(--box-color) h s l / 70%);
  background-blend-mode: darken;
  grid-column: 2;
}

.timeline-apple {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}
.Apple {
  background-image: url(./Images/IMG_0917.jpeg);
  background-size: cover;
  background-position-y: 30%;
  background-color: hsl(from var(--box-color) h s l / 80%);
  grid-column: 2;
  grid-row: 2;
}
.timeline-stubentigercafe {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
}
.Stubentigercafe {
  background-image: url(./Images/IMG_2868.JPG);
  background-size: cover;
  background-position-y: 20%;
  background-color: hsl(from var(--box-color) h s l / 80%);
  grid-column: 2;
  grid-row: 3;
}
.timeline-hospitality {
  grid-column: 1;
  grid-row: 4;
  text-align: center;
}
.Hospitality {
  background-image: url(./Images/2023-09-18.jpg);
  background-size: cover;
  background-position-y: 60%;
  background-color: hsl(from var(--box-color) h s l / 80%);
  grid-column: 2;
  grid-row: 4;
}

/*screen sizes-------------------------------------------------------*/
@media only screen and (max-width: 81rem) and (min-width: 50rem){
  main {
    grid-template-columns: 9rem 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }
  .Timeline {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 6;
  
  }
  .Skills {
    grid-column: 2;
    grid-row: 2;
  }
  
  .Me {
    grid-row: 1;

  }
  
  .timeline-apple {
    grid-row: 3;
  }
  .Apple {
    grid-row: 3;
  }
  .timeline-stubentigercafe {
    grid-row: 4;
  }
  .Stubentigercafe {
    grid-row: 4;
  }
  .timeline-hospitality {
    grid-row: 5;
  }
  .Hospitality {
    grid-row: 5;
  }
}

/*screen sizes-------------------------------------------------------*/
@media only screen and (max-width: 50rem) {
  main {
    grid-template-columns: 1fr;
  }
  .Timeline {
    display: none;
  
  }
  .Skills {
    grid-column: 1;
    grid-row: 2;
  }
  
  .Me {
    grid-row: 1;
    grid-column: 1;

  }
  
  .timeline-apple {
    grid-row: 3;
    grid-column: 1;
    margin: 0;
    padding: 1rem;
    background-color: hsl(from var(--box-color) h s l / 70%);
    border-radius: 1rem;
  }
  .Apple {
    grid-row: 4;
    grid-column: 1;
  }
  .timeline-stubentigercafe {
    grid-row: 5;
    grid-column: 1;
    margin: 0;
    padding: 1rem;
    background-color: hsl(from var(--box-color) h s l / 70%);
    border-radius: 1rem;
  }
  .Stubentigercafe {
    grid-row: 6;
    grid-column: 1;
  }
  .timeline-hospitality {
    grid-row: 7;
    grid-column: 1;
    margin: 0;
    padding: 1rem;
    background-color: hsl(from var(--box-color) h s l / 70%);
    border-radius: 1rem;
  }
  .Hospitality {
    grid-row: 8;
    grid-column: 1;
  }
}