main {
  margin: auto 5% auto 5%;
  padding: 0;
  grid-row: 2;
  display: grid;
  grid-template-columns:
    [me-start intro-start timeline-start timeline-apple-start timeline-stubentiger-start timeline-raste-start]
    7rem
    [timeline-end timeline-apple-end timeline-stubentiger-end timeline-raste-end apple-start stubentiger-start raste-start]
    1fr
    [me-end intro-end apple-end stubentiger-end raste-end skills-start]
    auto
    [skills-end]
    ;
  grid-template-rows:
    [skills-start me-start]
    auto
    [me-end intro-start]
    auto
    [intro-end timeline-start apple-start timeline-apple-start]
    auto
    [apple-end timeline-apple-end stubentiger-start timeline-stubentiger-start]
    auto
    [stubentiger-end timeline-stubentiger-end raste-start timeline-raste-start]
    auto
    [timeline-end skills-end raste-end timeline-raste-end]
    ;
  gap: 1rem;
}
main div {
  padding: 1rem;
  background-color: var(--div-background-70);
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  /* outline: .2rem solid hsl(from var(--box-color) h s l / 100%); */
}
main div p {
  padding-left: 1rem;
}

.Timeline {
  grid-area: timeline;
}
.Skills {
  grid-area: skills;
}
.Skills div {
  background-color: transparent;
  backdrop-filter: none;
  padding: 0;
}

.Me {
  background-image: url(../../Images/me2.webp);
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 100%;
  grid-area: me;
}

.Intro {
  grid-area: intro;
  z-index: 1;
  text-align: center;
}
.Intro h2 {
  margin: 0;
}

.timeline-apple {
  grid-area: timeline-apple;
}
.timeline-stubentigercafe {
  grid-area: timeline-stubentiger;
}
.timeline-hospitality {
  grid-area: timeline-raste;
}
.timeline-apple, .timeline-hospitality, .timeline-stubentigercafe {
  text-align: center;
  z-index: 1;
}

.Apple {
  background-image: url(./Images/IMG_0917.webp);
  background-position-y: 30%;
  grid-area: apple;
}
.Stubentigercafe {
  background-image: url(./Images/IMG_2868.webp);
  background-position-y: 20%;
  grid-area: stubentiger;
}
.Hospitality {
  grid-area: raste;
}
.Apple, .Stubentigercafe, .Hospitality {
  background-size: cover;
  background-color: var(--div-background-80);

}

/*screen sizes-------------------------------------------------------*/
@media only screen and (max-width: 81rem) and (min-width: 50rem){
  main {
    grid-template-columns: 7rem 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "me me"
      "skills skills"
      "intro intro"
      "timeline-apple apple"
      "timeline-stubentiger stubentiger"
      "timeline-raste raste"
    ;
  }
  .Timeline {
    grid-column: 1;
    grid-row-start: timeline-apple-start;
    grid-row-end: timeline-raste-end;
  }
  .Skills {
    background-image: url(./Images/code.webp);
    background-size: cover;
    background-position-x: 20%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
  }
  .Skills h2 {
    grid-column-end: span 2;
  }
}

/*screen sizes-------------------------------------------------------*/
@media only screen and (max-width: 50rem) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "me"
      "skills"
      "intro"
      "timeline-apple"
      "apple"
      "timeline-stubentiger"
      "stubentiger"
      "timeline-raste"
      "raste"
    ;
  }
  /* html {
    scroll-snap-type: y proximity;
    scroll-padding: 6rem;
  }
  .Me, .Skills, .Intro, .timeline-stubentigercafe, .timeline-hospitality, footer {
    scroll-snap-align: start;
  } */
  .Timeline {
    display: none;
  }
  .Skills {
    background-image: url(./Images/code.webp);
    background-size: cover;
    background-position-x: 20%;
  }
  .timeline-apple, .timeline-stubentigercafe, .timeline-hospitality {
    margin: 0;
    padding: 1rem;
    background-color: var(--div-background-70);
    border-radius: 1rem;
  }
}