main {
  margin: auto 5% auto 5%;
  padding: 0;
  grid-row: 2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
}  
main div {
  padding: 1rem;
  background-color: var(--div-background-70);
  border-radius: 1rem;
  backdrop-filter: blur(1px);
}

.content {
  text-align: center;
}