main {
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 1rem;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
}  
main div {
  padding: 1rem;
  background-color: var(--div-background-70);
  border-radius: 1rem;
  text-align: center;
  backdrop-filter: blur(1px);
}        
main div img {
  height: 10rem;
  vertical-align: middle;
}