main {
    margin: auto 5% auto 5%;
    padding: 0;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    grid-template-rows: repeat(5, auto) 1fr;
}
main > div {
    margin: 0;
    padding: 3rem;
    background-color: var(--div-background-70);
    border-radius: 1rem;
    height: fit-content;
    backdrop-filter: blur(1px);
}

.collapsible-button {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    padding: .5rem;
}
.collapsible-button:hover {
    padding: .5rem;
    border-radius: 1rem;
    background-color: var(--hover-effect-color);
    cursor: pointer;
    cursor: hand;
}
.hover-effect {
    padding: .5rem;
    border-radius: 1rem;
    background-color: var(--hover-effect-color);

}

/* .ireland-flag-border {
    border: .5rem solid;
    border-image-source: linear-gradient(to right, green, white, orange);
    border-image-slice: 1;
} */

.content {
    display: none;
    height: auto;
    padding: 0;
    backdrop-filter: none;
}

.photocontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    padding: 1rem;
}
.image-box {
    padding: 0;
    min-width: 25rem;
    flex: 1 1 30%;
    filter: drop-shadow(#242222 .5rem .5rem .5rem);
    z-index: 0;
}
.image-box img {
    max-width: 100%;
    height: auto;
}

@media (prefers-color-scheme: dark) {
    .Pride {
        position: relative;
        isolation: isolate;
        /* overflow: hidden; */
    }
    .Pride .content::before {
        position: absolute;
        content: "";
        inset: 0;
        z-index: -1;
        backdrop-filter: brightness(80%);
        /* background: inherit;
        filter: blur(.3rem);
        border-radius: 1rem; */
    }
}
.photo-credit {
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--hover-effect-color);
}

@media only screen and (max-width: 50em){

    main div {
        padding: .1rem;
    }
    main div h2 {
        padding-left: 1rem;
    }
    .photocontainer {
        padding-top: .1rem;
    }
    .photocontainer div {
        min-width: min(20rem, 90%);
    }
    .photocontainer div img {
        width: 100%;
        height: auto;
    }
}