main {
    margin: auto 5% auto 5%;
    padding: 0;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr; 
  
    div {
      margin: 0;
      padding: 3rem;
      background-color: hsl(from var(--box-color) h s l / 70%);
      border-radius: 1rem;
      height: fit-content;
    }
}

.collapsible-button {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    padding: .5rem;
}
.collapsible-button:hover {
    background-color: var(--hover-color);
    padding: .5rem;
    border-radius: 1rem;
}
.hover-effect {
    background-color: var(--hover-color);
    padding: .5rem;
    border-radius: 1rem;

}

.content {
    display: none;
    height: auto;
    background-color: transparent;
    padding: 0;
}

.photocontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    background-color: transparent;
    padding: 1rem;

    div {
        padding: 0;
        background-color: transparent;
        min-width: 25rem;
        flex: 1 1 30%;
        filter: drop-shadow(#242222 .5rem .5rem .5rem);
        z-index: 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

/* .photocontainer {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: transparent;

    div {
        display: flex;
        justify-content: center;
        padding: 0;
        background-color: transparent;
        
        img {
            height: auto;
            max-width: 100%;
        }
    }
} */

.Pride {
    .collapsible-button:hover {
        background-color: hsl(from var(--hover-color) h s l / 50%);
        padding: .5rem;
        border-radius: 1rem;
    }
    h2 {
        background-color: hsl(from var(--box-color) h s l / 70%);
        padding: .5rem;
        border-radius: .5rem;
    }
}

@media only screen and (max-width: 60em){

    main {
        div {
            padding: 1rem;
        }
    }
     .photocontainer {
        padding-top: 1rem;
    
        div {
            min-width: 10rem;
            
    
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}